#main
__pycache__/
.vscode/
.pytest_cache/
debug.log
.coverage
run.bat

#features
behave/features/__pycache__/
behave/features/steps/__pycache__/
robot/features/__pycache__/
robot/features/steps/__pycache__/

#target
robot/target/